<div class="palm-group">
    <div id="score" class="palm-group-title">Score</div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
                <div id="stream_rate" x-mojo-element="ListSelector"></div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
                <div id="lame_bitrate" x-mojo-element="ListSelector"></div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
                <div id="lame_quality" x-mojo-element="ListSelector"></div>
            </div>
        </div>
    </div>
</div>